*
{
    margin: 0;
    padding: 0;
}

.todo-main
{
    width: 600px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    margin: 20px auto 0px auto;
}

.date-time
{
    font-family: "Inter" , sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #8A8578;
    letter-spacing: 2px;
}

.today-el
{
    font-family: "Roboto Slab" , sans-serif;
    font-size: 36px;
    color: #1C1B18;
    margin-top: 7px;
}

.task-no
{
    font-family: "Inter" , sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8A8578;
    margin-top: 4px;
    letter-spacing: 0.8px;
}

.add-task
{
    margin-top: 40px;
}

.task-input
{
    width: 400px;
    height: 35px;
    padding: 10px 14px;
    font-size: 18px;
    font-family: "Inter" , sans-serif;
    border:2px solid #8A8578 ;
    border-radius: 5px;
}

input:focus
{
    border:2px solid  #D95F2B;
    outline: none;
}

.btn
{
    width: 100px;
    height: 60px;
    padding: 10px 14px;
    margin-left: 20px;
    font-family: "Inter" , sans-serif;
    font-size: 20px;
    background-color: #D95F2B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.progress
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.buttons
{
    background-color: #EDEAE3;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
}

.progress-btn
{
    padding: 10px 18px ;
    font-family: "Inter" , sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #8A8578;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.progress-btn:hover
{
    color: #1C1B18;
}

.progress-btn.active
{
    border-radius: 4px;
    background-color: #ffffff;
    color: #1C1B18;
    margin: 1px;
}

#clear-btn
{
    font-family: "Inter" , sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    color: #8A8578;
    border: none;
}


.tasks
{
    margin-top: 30px;
    list-style: none;
}

.task
{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid #8A8578;
    height: 60px;
    border-radius: 5px;
    padding: 0px 20px;
    margin-bottom: 10px;

    font-family: "Inter" , sans-serif;
    font-size: 20px;
    color: #1C1B18;
}

.task span
{
    flex : 1;
}

.task i{
    font-size: 20px;
    cursor: pointer;
    color: #8A8578;
}
.task i:hover
{
    color: #363635;
}

.check-input
{
    width: 20px;
    height: 20px;
}

.line
{
    width: 580px;
    height: 60px;
    margin: 30px auto 0px auto;
    border-top: 1px solid #c1bbad;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-family: "Inter" , sans-serif;
    font-size: 18px;
    color: #8A8578;
}